ErrorDocument 404 /404.html

RewriteEngine On

# Important media
RewriteRule ^media/BC.pdf$ https://jimrich.sk/bakalarska-praca-web-release/BC.pdf [R=301,L]
RewriteRule ^media/ING.pdf$ https://jimrich.sk/diplomova-praca-web-release/ING.pdf [R=301,L]
RewriteRule ^media/ipwatchd.html$ https://jimrich.sk/detekcia-ip-konfliktu-v-linuxe-ipwatchd/ipwatchd.html [R=301,L]
RewriteRule ^media/jariq1.asc$ https://jimrich.sk/crypto/2006-gnupg-jimrich.asc [R=301,L]
RewriteRule ^media/jariq2.asc$ https://jimrich.sk/crypto/2010-gnupg-jimrich.asc [R=301,L]
RewriteRule ^media/sun-ss4-manual.pdf$ https://jimrich.sk/openbsd-na-sun-sparcstation4/sun-ss4-manual.pdf [R=301,L]
RewriteRule ^media/clm/clm1.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm1.c [R=301,L]
RewriteRule ^media/clm/clm2.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm2.c [R=301,L]
RewriteRule ^media/clm/clm3.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm3.c [R=301,L]
RewriteRule ^media/clm/clm4.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm4.c [R=301,L]
RewriteRule ^media/clm/clm5.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm5.c [R=301,L]
RewriteRule ^media/clm/clm6.c$ https://jimrich.sk/programovanie-lpt-v-linuxe/clm6.c [R=301,L]
RewriteRule ^media/openvpn/network1.png$ https://jimrich.sk/vpn-siete-s-openvpn-1/network1.png [R=301,L]
RewriteRule ^media/openvpn/network2.gif$ https://jimrich.sk/vpn-siete-s-openvpn-1/network2.gif [R=301,L]
RewriteRule ^media/openvpn/paket.png$ https://jimrich.sk/vpn-siete-s-openvpn-1/paket.png [R=301,L]
RewriteRule ^media/openvpn/proxy.png$ https://jimrich.sk/vpn-siete-s-openvpn-3/proxy.png [R=301,L]
RewriteRule ^media/openvpn/scm_scr_3310.jpg$ https://jimrich.sk/vpn-siete-s-openvpn-5/scm_scr_3310.jpg [R=301,L]
RewriteRule ^media/openvpn/scm_scr_3310.pdf$ https://jimrich.sk/vpn-siete-s-openvpn-5/scm_scr_3310.pdf [R=301,L]
RewriteRule ^media/openvpn/starcos.jpg$ https://jimrich.sk/vpn-siete-s-openvpn-5/starcos.jpg [R=301,L]
RewriteRule ^media/openvpn/starcos.pdf$ https://jimrich.sk/vpn-siete-s-openvpn-5/starcos.pdf [R=301,L]
RewriteRule ^media/openvpn/static1.png$ https://jimrich.sk/vpn-siete-s-openvpn-2/static1.png [R=301,L]
RewriteRule ^media/openvpn/static2.png$ https://jimrich.sk/vpn-siete-s-openvpn-2/static2.png [R=301,L]
RewriteRule ^media/openvpn/vpn_paket.png$ https://jimrich.sk/vpn-siete-s-openvpn-1/vpn_paket.png [R=301,L]

# Migration from Wordpress to Hugo in 2017
RewriteRule ^2015/12/15/troubleshooting-pkcs11interop-with-pkcs11-logger/$ https://jimrich.sk/troubleshooting-pkcs11interop-with-pkcs11-logger/ [R=301,L]
RewriteRule ^2015/11/23/basic-analysis-of-segmentation-fault-on-linux-platforms/$ https://jimrich.sk/basic-analysis-of-segmentation-fault-on-linux-platforms/ [R=301,L]
RewriteRule ^2015/01/18/environment-specialfolder-on-windows-linux-and-os-x/$ https://jimrich.sk/environment-specialfolder-on-windows-linux-and-os-x/ [R=301,L]
RewriteRule ^2013/02/02/pkcs11interop-1-0-0/$ https://jimrich.sk/pkcs11interop-1-0-0/ [R=301,L]
RewriteRule ^2012/02/16/interoperabilita-zep-yeti-moderneho-sveta/$ https://jimrich.sk/interoperabilita-zep-yeti-moderneho-sveta/ [R=301,L]
RewriteRule ^2011/11/19/pkcs11-logger-1-0/$ https://jimrich.sk/pkcs11-logger-1-0/ [R=301,L]
RewriteRule ^2011/08/17/softhsm-for-windows/$ https://jimrich.sk/softhsm-for-windows/ [R=301,L]
RewriteRule ^2009/07/28/jquery-javascript-rychlo-a-efektivne/$ https://jimrich.sk/jquery-javascript-rychlo-a-efektivne/ [R=301,L]
RewriteRule ^2009/05/25/ssl-autentizacia-s-webovym-serverom-apache/$ https://jimrich.sk/ssl-autentizacia-s-webovym-serverom-apache/ [R=301,L]
RewriteRule ^2009/04/12/migrujem-z-nucleuscms-na-wordpress/$ https://jimrich.sk/migrujem-z-nucleuscms-na-wordpress/ [R=301,L]
RewriteRule ^2009/01/21/vpn-siete-s-openvpn-5/$ https://jimrich.sk/vpn-siete-s-openvpn-5/ [R=301,L]
RewriteRule ^2008/12/01/vpn-siete-s-openvpn-4/$ https://jimrich.sk/vpn-siete-s-openvpn-4/ [R=301,L]
RewriteRule ^2008/11/11/vpn-siete-s-openvpn-3/$ https://jimrich.sk/vpn-siete-s-openvpn-3/ [R=301,L]
RewriteRule ^2008/10/20/vpn-siete-s-openvpn-2/$ https://jimrich.sk/vpn-siete-s-openvpn-2/ [R=301,L]
RewriteRule ^2008/10/14/vpn-siete-s-openvpn-1/$ https://jimrich.sk/vpn-siete-s-openvpn-1/ [R=301,L]
RewriteRule ^2008/04/25/recenzia-eset-server-security-pre-linuxbsd-2/$ https://jimrich.sk/recenzia-eset-server-security-pre-linuxbsd-2/ [R=301,L]
RewriteRule ^2008/03/11/recenzia-eset-server-security-pre-linuxbsd-1/$ https://jimrich.sk/recenzia-eset-server-security-pre-linuxbsd-1/ [R=301,L]
RewriteRule ^2008/02/17/viazanie-kravaty/$ https://jimrich.sk/viazanie-kravaty/ [R=301,L]
RewriteRule ^2007/11/26/rest-in-peace-icq/$ https://jimrich.sk/rest-in-peace-icq/ [R=301,L]
RewriteRule ^2007/05/12/failover-cluster-s-protokolom-carp/$ https://jimrich.sk/failover-cluster-s-protokolom-carp/ [R=301,L]
RewriteRule ^2007/04/12/windows-ako-router/$ https://jimrich.sk/windows-ako-router/ [R=301,L]
RewriteRule ^2007/04/06/turbo-delphi-a-jazyk-c/$ https://jimrich.sk/turbo-delphi-a-jazyk-c/ [R=301,L]
RewriteRule ^2007/03/21/programovanie-lpt-v-linuxe/$ https://jimrich.sk/programovanie-lpt-v-linuxe/ [R=301,L]
RewriteRule ^2006/12/30/ktory-modul-je-ten-spravny/$ https://jimrich.sk/ktory-modul-je-ten-spravny/ [R=301,L]
RewriteRule ^2006/12/26/instalacia-openbsd/$ https://jimrich.sk/instalacia-openbsd/ [R=301,L]
RewriteRule ^2006/12/01/detekcia-ip-konfliktu-v-linuxe-ipwatchd/$ https://jimrich.sk/detekcia-ip-konfliktu-v-linuxe-ipwatchd/ [R=301,L]
RewriteRule ^2006/11/03/soekris-embedded-firewall-a-m0n0wall/$ https://jimrich.sk/soekris-embedded-firewall-a-m0n0wall/ [R=301,L]
RewriteRule ^2006/08/06/ja-ubuntu-ty-ubuntu/$ https://jimrich.sk/ja-ubuntu-ty-ubuntu/ [R=301,L]
RewriteRule ^2006/08/03/apache-php-mysql-a-windows/$ https://jimrich.sk/apache-php-mysql-a-windows/ [R=301,L]
RewriteRule ^2006/08/02/zmena-stylu/$ https://jimrich.sk/zmena-stylu/ [R=301,L]
RewriteRule ^2006/05/23/diplomova-praca-web-release/$ https://jimrich.sk/diplomova-praca-web-release/ [R=301,L]
RewriteRule ^2006/02/23/vzdialene-graficky-a-sifrovane/$ https://jimrich.sk/vzdialene-graficky-a-sifrovane/ [R=301,L]
RewriteRule ^2006/02/22/openbsd-na-sun-sparcstation4/$ https://jimrich.sk/openbsd-na-sun-sparcstation4/ [R=301,L]
RewriteRule ^2005/12/28/sila-gnupg/$ https://jimrich.sk/sila-gnupg/ [R=301,L]
RewriteRule ^2005/11/27/moje-dojmy-z-genius-mousepen-8x6/$ https://jimrich.sk/moje-dojmy-z-genius-mousepen-8x6/ [R=301,L]
RewriteRule ^2005/11/25/bakalarska-praca-web-release/$ https://jimrich.sk/bakalarska-praca-web-release/ [R=301,L]
RewriteRule ^2005/11/08/ako-na-vsftpd/$ https://jimrich.sk/ako-na-vsftpd/ [R=301,L]
RewriteRule ^2005/10/27/kurz-linuxu/$ https://jimrich.sk/kurz-linuxu/ [R=301,L]
RewriteRule ^2005/10/19/intel-prowireless-2100-a-linux/$ https://jimrich.sk/intel-prowireless-2100-a-linux/ [R=301,L]
RewriteRule ^2005/09/02/monitoring-serveru-s-mobilom-siemens/$ https://jimrich.sk/monitoring-serveru-s-mobilom-siemens/ [R=301,L]
RewriteRule ^2005/07/19/firewall-linuxu-s-iptables/$ https://jimrich.sk/firewall-linuxu-s-iptables/ [R=301,L]
RewriteRule ^2005/07/19/let-the-show-begin/$ https://jimrich.sk/let-the-show-begin/ [R=301,L]
RewriteRule ^about-me/$ https://jimrich.sk/ [R=301,L]
RewriteRule ^feed/$ https://jimrich.sk/index.xml [R=301,L]

# Migration from Nucleus to Wordpress in 2009
RewriteRule ^item-254.html$ https://jimrich.sk/vpn-siete-s-openvpn-5/ [R=301,L]
RewriteRule ^item-227.html$ https://jimrich.sk/vpn-siete-s-openvpn-4/ [R=301,L]
RewriteRule ^item-181.html$ https://jimrich.sk/vpn-siete-s-openvpn-3/ [R=301,L]
RewriteRule ^item-48.html$ https://jimrich.sk/vpn-siete-s-openvpn-2/ [R=301,L]
RewriteRule ^item-45.html$ https://jimrich.sk/vpn-siete-s-openvpn-1/ [R=301,L]
RewriteRule ^item-184.html$ https://jimrich.sk/recenzia-eset-server-security-pre-linuxbsd-2/ [R=301,L]
RewriteRule ^item-109.html$ https://jimrich.sk/recenzia-eset-server-security-pre-linuxbsd-1/ [R=301,L]
RewriteRule ^item-26.html$ https://jimrich.sk/failover-cluster-s-protokolom-carp/ [R=301,L]
RewriteRule ^item-41.html$ https://jimrich.sk/turbo-delphi-a-jazyk-c/ [R=301,L]
RewriteRule ^item-29.html$ https://jimrich.sk/programovanie-lpt-v-linuxe/ [R=301,L]
RewriteRule ^item-23.html$ https://jimrich.sk/detekcia-ip-konfliktu-v-linuxe-ipwatchd/ [R=301,L]
RewriteRule ^item-24.html$ https://jimrich.sk/soekris-embedded-firewall-a-m0n0wall/ [R=301,L]
RewriteRule ^item-20.html$ https://jimrich.sk/ja-ubuntu-ty-ubuntu/ [R=301,L]
RewriteRule ^item-19.html$ https://jimrich.sk/apache-php-mysql-a-windows/ [R=301,L]
RewriteRule ^item-18.html$ https://jimrich.sk/zmena-stylu/ [R=301,L]
RewriteRule ^item-16.html$ https://jimrich.sk/diplomova-praca-web-release/ [R=301,L]
RewriteRule ^item-15.html$ https://jimrich.sk/vzdialene-graficky-a-sifrovane/ [R=301,L]
RewriteRule ^item-14.html$ https://jimrich.sk/openbsd-na-sun-sparcstation4/ [R=301,L]
RewriteRule ^item-12.html$ https://jimrich.sk/sila-gnupg/ [R=301,L]
RewriteRule ^item-10.html$ https://jimrich.sk/moje-dojmy-z-genius-mousepen-8x6/ [R=301,L]
RewriteRule ^item-9.html$ https://jimrich.sk/bakalarska-praca-web-release/ [R=301,L]
RewriteRule ^item-8.html$ https://jimrich.sk/ako-na-vsftpd/ [R=301,L]
RewriteRule ^item-7.html$ https://jimrich.sk/kurz-linuxu/ [R=301,L]
RewriteRule ^item-6.html$ https://jimrich.sk/intel-prowireless-2100-a-linux/ [R=301,L]
RewriteRule ^item-5.html$ https://jimrich.sk/monitoring-serveru-s-mobilom-siemens/ [R=301,L]
RewriteRule ^item-3.html$ https://jimrich.sk/firewall-linuxu-s-iptables/ [R=301,L]
RewriteRule ^item-2.html$ https://jimrich.sk/let-the-show-begin/ [R=301,L]
RewriteRule ^item-4.html$ https://jimrich.sk/ [R=301,L]
RewriteRule ^xml-rss2.php$ https://jimrich.sk/index.xml [R=301,L]

# Redirect all HTTP requests to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
